{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["react", "jsx-a11y", "import", "@typescript-eslint", "prettier"],
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "tsconfig.json",
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "globals": {
    "window": true,
    "document": true,
    "navigator": true,
    "localStorage": true,
    "sessionStorage": true,
    "fetch": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-explicit-any": "off",
    "react/jsx-curly-newline": "off",
    "react/prefer-stateless-function": 0,
    "react/jsx-fragments": [2, "element"],
    "import/prefer-default-export": "off",
    "react/jsx-tag-spacing": [
      "error",
      {
        "beforeSelfClosing": "always"
      }
    ],
    "react/prop-types": 0,
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off",
    "consistent-return": "off",
    "no-useless-return":"off",
    "prettier/prettier": "error",
    "no-console":"off",
    "no-alert":"off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-undef": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "/"]
      }
    }
  }
}
